/* CSS for the site info blocks */

/* Site Slogan */
div#block-theme_info_block-slogan {
  font-size: 1.4em;
  font-weight: bold;
}

/* Site Mission */
div#block-theme_info_block-mission {
  font-size: 1.2em;
  font-weight: bold;
}

/* Site Footer Message */
div#block-theme_info_block-footer-message {
  font-size: 0.8em;
}

/* Site Footer Message */
div#block-theme_info_block-theme_info {
  font-size: 0.8em;
}
